html {
    background-color: #f5f7fa;
}

body {
    font-family: Arial, sans-serif;
    background-color: #dbe5f3;
}

/* NAVBAR CSS*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6c5ce7; /* purple */
    padding: 10px 20px;
    color: white;
    font-family: Arial, sans-serif;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #ffeaa7;
}