<!DOCTYPE html>
<html>
<head>
    <title>HenHacks2026</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>

    <nav class="navbar">
        <div class="profile-container">
            {% if current_user %}
                <img class="profile"
                    src="{{ url_for('static', filename='pfps/' + current_user.pfp + '.png') }}"
                    alt="Profile Picture">
            {% else %}
                <img class="profile"
                    src="{{ url_for('static', filename='pfps/unknown.png') }}"
                    alt="Profile Picture">
            {% endif %}
            
            {% if current_user %}
                <span class="login">{{ current_user.username }}</span>
                <span class="level">Level {{ current_user.level }}</span>
                <span class="xp">{{ current_user.xp or 0 }} xp</span>
            {% else %}
                <span class="login"><a href="{{ url_for('login') }}">Log In</a></span>
            {% endif %}
        </div>
        <ul class="nav-links">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('playground') }}">Playground</a></li>
            <li><a href="{{ url_for('profile') }}">Profile</a></li>
            <li><a href="{{ url_for('settings') }}">Settings</a></li>
        </ul>
    </nav>
    
    {% block content %}{% endblock %}
</body>
</html>