{% extends "base.html" %}

{% block content %}

<h1>Hello World</h1>

<div class="index_container">
    <div class="dashboard">
        <h2>My Goals</h2>
        <p>View your goals and progress.</p>
        <div class="goals_container">
            <div class="goals">
                <p class="goaltxt">
                    Goal 1: get a job at google and make 100k a year
                </p>
                <input class="goal-checkbox" type="checkbox">
            </div>
            <div class="goals">
                <p class="goaltxt">
                    Goal 2: walk 10 miles a day and lose 20 pounds
                </p>
                <input class="goal-checkbox" type="checkbox">
            </div>
            <div class="goals">
                <p class="goaltxt">
                    Goal 3: earn a degree in computer science and become a software engineer
                </p>
                <input class="goal-checkbox" type="checkbox">
            </div>
            <div class="goals">
                <p class="goaltxt">
                    Goal 4: eat healthy and cook more meals at home to save money and improve my health
                </p>
                <input class="goal-checkbox" type="checkbox">
            </div>
            <div class="goals">
                <p class="goaltxt">
                    Goal 5: invest in stocks and build a diversified portfolio to grow my wealth over time
                </p>
                <input class="goal-checkbox" type="checkbox">
            </div>
            <div class="goals">
                <p class="goaltxt">
                    Goal 6: save $10,000 in an emergency fund
                </p>
                <input class="goal-checkbox" type="checkbox">
            </div>
            <div class="goals">
                <p class="goaltxt">
                    Goal 7: learn a new skill or hobby to improve my personal development
                </p>
                <input class="goal-checkbox" type="checkbox">
            </div>
            <div class="goals">
                <button class="goaltxt" onclick="openModal()">
                    Add Goal
                </button>
            </div>  
        </div>
        

    </div>
    <div class="hubzone"></div>
</div>

<div class="modal" id="popup">
  <div class="modal-content">
    <h3>Hello 👋</h3>
    <p>This is a custom popup modal.</p>
    <button class="close" onclick="closeModal()">Close</button>
  </div>
</div>

{% endblock %}