{% extends "base.html" %}

{% block content %}

<h1>Hello World</h1>

<div class="index_container">
    <div class="dashboard">
        <h2>My Goals</h2>
        <p>View your goals and progress.</p>
        <div class="goals_container" id="goals_Container">
            {% if current_user %}
                {% for goal in goals %}
                    <div class="goals" data-goal-id="{{ goal.id }}">
                        <p class="goaltxt">{{ goal.text }}</p>
                        <input class="goal-checkbox" type="checkbox" {% if goal.completed %}checked{% endif %}>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="goals add-goal-wrapper">
                <button class="goaltxt" onclick="openModal()">
                    Add Goal
                </button>
            </div>  
        </div>
        

    </div>
    <div class="hubzone"></div>
</div>

<div class="modal" id="popup">
  <div class="modal-content">
    <h3>Set a Personal Goal👋</h3>
    <p>Enter a goal you want to achieve.</p>
    <input type="text" id="itemInput" placeholder="Enter item">
    <button class="close" onclick="addItem(), closeModal()">Add Goal</button>
  </div>
</div>

{% endblock %}