{% extends "base.html" %}

{% block content %}

<h1>ㅤ</h1>
<div class="auth-container" style="text-align: center;">
    <h2>Create Account</h2>

    <form method="POST">
        <input type="text" name="username" placeholder="Username" required>

        <input type="password" name="password" placeholder="Password" required>

        <button type="submit">Register</button>
    </form>

    <p class="auth-link">
        Already have an account?
        <a href="{{ url_for('login') }}">Login</a>
    </p>
</div>

{% endblock %}